


.sub-main-layout {
    width: 700px;
    text-align: center;
}

.rodape {
    top: auto;
    bottom: 0;
    text-align: center;
}

.custom-main-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 970px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 60px 15px;
}