@page "/fetchdata"
@using Base.APP.Service;

<PageTitle>Weather forecast</PageTitle>
<div style="text-align:center;">
    <MudButton Variant="Variant.Filled" Color="Color.Primary">Adicionar Usuário</MudButton>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
    }
}


